- content_for :title do
    Adinkra Symbols | The Adinkra Project

%p{:id => "notice"}
  = notice

%h1 Adinkra Symbols

%table
  %thead
    %tr
      %th Name
      %th Icon png
      %th Icon svg
      %th Translation
      %th Meaning
      %th Origin
      %th Proverb
      %th Theme
      %th{:colspan => "3"}

  %tbody
    - @adinkra_symbols.each do |adinkra_symbol|
      %tr
        %td 
          = adinkra_symbol.name
        %td 
          = adinkra_symbol.icon_png
        %td 
          = adinkra_symbol.icon_svg
        %td 
          = adinkra_symbol.translation
        %td 
          = adinkra_symbol.meaning
        %td 
          = adinkra_symbol.origin
        %td 
          = adinkra_symbol.proverb
        %td 
          = adinkra_symbol.theme
        %td
          = link_to('Show', adinkra_symbol)
        %td
          = link_to('Edit', edit_adinkra_symbol_path(adinkra_symbol))
        %td
          -# = link_to('Destroy', adinkra_symbol, method: :delete, data: { confirm: 'Are you sure?' })

%br

= link_to('New Adinkra Symbol', new_adinkra_symbol_path)
