- content_for :title do
  = "#{@adinkra_symbol.name} | #{t('app.name')}"

.adinkra__details--page
  .container--960
    %section.bio
      %img{"src" => @adinkra_symbol.icon_png, :class => "bio--icon"}

      .bio--data
        %h1.bio--data__name.adinkra--symbol__name
          = @adinkra_symbol.name

        -# %div.bio--data__actions
        -#   %span.bio--data__actions-download
        -#   %span.bio--data__actions-share

        %h2
          Translation
        = @adinkra_symbol.translation
          
        -# %section.translation

    -# %section.meaning

    -# %section.themes
    -#   %h2 Themes
    -#   = @adinkra_symbol.theme

    -# %section.download


-# = link_to('Edit', edit_adinkra_symbol_path(@adinkra_symbol))
-# = link_to('Back', adinkra_symbols_path)
