!!! 5
%html
    %head
        %title= yield(:title)
        = render 'layouts/meta_and_styles'

    %body
        = render 'layouts/navbar'

        %main

            = yield

        = render 'layouts/footer'

        = render 'layouts/scripts'
        